@function pem($pixels){
    @return #{$pixels/16.0}em   
}

nav a{
    position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.5em;
    font-family: Verdana;
  
    @media all and (min-width: pem(1024)){
        float: none;
    }
    
    @media all and (max-width: pem(600)){
        width: auto;
        letter-spacing: 0.2px;
        font-size: 0.7em;
        font-weight: 100;
        left-margin: 70%;
        float: left;
    }    
    
    @media all and (max-height: pem(600)){
        width: auto;
        letter-spacing: 0.2px;
        font-size: 0.7em;
        font-weight: 100;
        top-margin: 0%;
        float: top;
    }        
}  


/*  ----------------increase size of menu--------- */
.hi-icon-effect-7b .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
    
    @media all and (max-width: pem(600)){
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        transform: scale(0.4);        
    }    
}
/* --------------------------------------------------- */
.no-touch .hi-icon-effect-7b .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
    
    @media all and (max-width: pem(600)){
        -webkit-transform: scale(0.625);
        -moz-transform: scale(0.625);
        -ms-transform: scale(0.625);
        transform: scale(0.625);
    }    
}

.menu_options{
    @media all and (max-width: pem(500)){
        padding-left: 1%;
        padding-right: 1%;      
    }    
}  

.header{
    @media all and (max-width: pem(500)){
        padding-left: 1%;
        padding-right: 1%;  
        font-size: 1.5em;
    }    
}

// cups at 175 & 200 zoom at and near min width

#shaa_cube{
// for 175    
    @media all and (min-width: pem(680)) and (max-width: pem(900)){
        height: 31%;
        width: 33%;
    }
// for 250    
    @media all and (min-width: pem(500)) and (max-width: pem(680)){
        height: 35%;
        width: 37%;
    }
    @media all and (min-width: pem(350)) and (max-width: pem(500)){
        height: 30%;
        width: 45%;
    }
//  for 150    
    @media all and (min-width: pem(900)) and (max-width: pem(1000)){
        width: 33%;  
        height: 31%;
    }
// for 125    
    @media all and (min-width: pem(1000)) and (max-width: pem(1200)){
        width: 30%;
        height: 28%;
    }
}

#spons_img{
    @media all and (max-width: pem(680)){
        height: 50%;
        width: 50%;
    }      
}

#events_img{
    @media all and (max-width: pem(680)){
        height: 50%;
        width: 50%;
    }
}

#lectures_img{
    @media all and (max-width: pem(680)){
        height: 50%;   
    }
}

#contacts_img{
    @media all and (max-width: pem(680)){
        height: 50%;
    }
}


