
@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: white;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}


.hi-icon-list:before {
	content: "\e006";
}

/* Effect 7 */

.no-touch .hi-icon-effect-7 .hi-icon:hover {
	color: white;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8%;
	left: -8%;
	padding: 8%;
	z-index: -1;
	opacity: 0;
}


/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
	box-shadow: 3px 3px rgba(255,255,255,1);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

/* General Demo Style */

a {
	color: #ccc;
	text-decoration: none;
}



/* Demo Buttons Style */

#set-7 {
	background: none;
}

/* Menu options */

.menu_options{
    color: white;
    font-family: Verdana;
    font-size: 1.3em;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    text-align: center;
    height: 5%;
}    

/* Menu headers */

.header{
    color: white;
    font-family: Verdana;
    font-size: 2em;    
    width: 100%;
    text-align: center;
    height: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}  


